.product-section{
    width: 75%;
    /* display: grid;
    grid-template-columns: auto auto auto ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

    /* gap: 10px; */
}